<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div class="header_left">
            <p>Hai Nguyen</p>
        </div>
        <div class="header_right">
            <p><svg role="presentation" name="icon" width="24px" height="24px" viewBox="0 0 36 36"><g transform="translate(18,18)scale(1.2)translate(-18,-18)"><path fill="#0084FF" stroke="#0084FF" d="M18,10 C16.6195,10 15.5,11.119 15.5,12.5 C15.5,13.881 16.6195,15 18,15 C19.381,15 20.5,13.881 20.5,12.5 C20.5,11.119 19.381,10 18,10 Z M16,25 C16,25.552 16.448,26 17,26 L19,26 C19.552,26 20,25.552 20,25 L20,18 C20,17.448 19.552,17 19,17 L17,17 C16.448,17 16,17.448 16,18 L16,25 Z M18,30 C11.3725,30 6,24.6275 6,18 C6,11.3725 11.3725,6 18,6 C24.6275,6 30,11.3725 30,18 C30,24.6275 24.6275,30 18,30 Z"></path></g></svg></p>
        </div>
    </header>
    <div class="app" id="app">
        <div class="content content-left">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-left">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-left">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-left">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-left">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-left">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-right">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-right">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-right">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-right">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-right">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-right">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-right">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-right">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
        <div class="content content-right">
            <div class="user">
                <img src="https://scontent.fpnh22-3.fna.fbcdn.net/v/t39.30808-1/270068927_486307006446311_5092710703514367684_n.jpg?stp=dst-jpg_p100x100&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=TlDGo6M3JmIAX_DDoJ8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fpnh22-3.fna&oh=00_AT_qjKXXUKuoNHgCsYi9fl_xi0finVlR7Xe-ZvGxFw8A9Q&oe=6298D2B1" alt="">
            </div>
            <div class="group_message">
                <div class="message">hello</div>
            </div>
        </div>
    </div>
    <footer>
        <div class="control">
            <input class="txt_message" type="text">
            <div class="send">
                <svg width="20px" height="20px" viewBox="0 0 24 24" class="crt8y2ji"><path d="M16.6915026,12.4744748 L3.50612381,13.2599618 C3.19218622,13.2599618 3.03521743,13.4170592 3.03521743,13.5741566 L1.15159189,20.0151496 C0.8376543,20.8006365 0.99,21.89 1.77946707,22.52 C2.41,22.99 3.50612381,23.1 4.13399899,22.8429026 L21.714504,14.0454487 C22.6563168,13.5741566 23.1272231,12.6315722 22.9702544,11.6889879 C22.8132856,11.0605983 22.3423792,10.4322088 21.714504,10.118014 L4.13399899,1.16346272 C3.34915502,0.9 2.40734225,1.00636533 1.77946707,1.4776575 C0.994623095,2.10604706 0.8376543,3.0486314 1.15159189,3.99121575 L3.03521743,10.4322088 C3.03521743,10.5893061 3.34915502,10.7464035 3.50612381,10.7464035 L16.6915026,11.5318905 C16.6915026,11.5318905 17.1624089,11.5318905 17.1624089,12.0031827 C17.1624089,12.4744748 16.6915026,12.4744748 16.6915026,12.4744748 Z" fill="#0084ff"></path></svg>
            </div>
        </div>
    </footer>
  </body>
  <script>
    let height = window.innerHeight
    let app = document.getElementById('app')
    console.log(height)
    app.style.height = (height - 65 - 50 - 30) + 'px'
  </script>
</html>
